{
  "extends": "eslint:recommended",

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parserOptions": {
    "sourceType": "module"
  },


  "globals": {
    "beforeEach": true,
    "afterEach": true,
    "describe": true,
    "it": true,
    "Phaser": true
  },

  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],

    "guard-for-in": "error",
    "no-alert": "error",
    "no-eval": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-new-func": "error",
    "no-script-url": "error",
    "no-throw-literal": "error",
    "no-void": "error",
    "no-with": "error"
  }
}
